<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No-Fluf</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'app/base.css' %}">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
    <header class="base-header">
        <!-- <span class="header-title">NoFluff Kitchen</span> -->
        <span class="header-title">Title</span>
        <nav class="header-nav">
            <a href="">Search</a>
            <a href="">Account</a>           </a>
        </nav>
    </header>
    <hr>
</body>
</html>